{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'css/inicialstyle.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <script src="{% static 'js/script.js' %}"></script>

    <title>Alocar</title>
</head>

<body class="bd" onload="menuPrincipal()">

    <div id="menu_principal"></div>

    <div style="display: none"></div>
    <form id="conteudo" action="alocar_produto" method="POST">
        {% csrf_token %}
        <div class="inputCadastro" id="">
            <label>Codigo de Barra: </label>
            <input type="text" name="codBarraProduto" />
        </div>
        <div class="inputCadastro">
            <label>Local: </label>
            <input type="number" name="localProduto" />
        </div>
        <div class="inputCadastro">
            <label>Quantidade: </label>
            <input type="number" name="quantidadeProduto" />
        </div>
        <div class="inputCadastro">
            <label>Validade: </label>
            <input type="date" name="validadeProduto" />
        </div>
        <div class="inputCadastro">
            <input class="botao" type="submit" value="Alocar" />
        </div>



        {% if message %}
        <script>
            setTimeout(function () {
                alert('{{ message }}');
            }, 500);
        </script>
        {% endif %}
    </form>
</body>

</html>