{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/inicialstyle.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <script>
        var csrftoken = '{{ csrf_token }}'
    </script>
    <title>ESTOQUEFARMA +</title>
</head>
<body class="bd" onload="menuPrincipal()">
    <script src="{% static 'js/script.js' %}"></script>
    <div id="menu_principal" style="display: none"></div>

    <form action="cadastrar_produto" method="POST" id="conteudo">
        {% csrf_token %}
        <div class="inputCadastro" id="">
            <label>Nome do Produto: </label>
            <input type="text"  name="nomeProduto"/>
        </div>
        <div class="inputCadastro">
            <label>Codigo de Barra: </label>
            <input type="number"   name="codBarraProduto"/>
        </div>
        <div class="inputCadastro">
            <label>Lote: </label>
            <input type="number"   name="loteProduto"/>
        </div>
        <div class="inputCadastro">
            <input type="submit" value="Cadastrar"/>
        </div>
    </form>

</body>
</html>

