{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/inicialstyle.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <script>
        var csrftoken = '{{ csrf_token }}'
    </script>
    <title>ESTOQUEFARMA +</title>
</head>
<body class="bd">
    <script src="{% static 'js/script.js' %}"></script>
    <h1 class="top">ESTOQUEFARMA +</h1>
    <nav class="navbar">
    <button class="button" onclick="location.href='cadastro'" style="vertical-align:middle" ><span> Cadastrar  </span></button>
    <button class="button" onclick="alocar()" style="vertical-align:middle" ><span> Alocar</span></button>
    <button class="button" style="vertical-align:middle" ><span> Desalocar</span></button>
    <button class="button" style="vertical-align:middle" ><span>Consultar</span></button>
    <button class="button" style="vertical-align:middle" ><span>Atualizar </span></button>
    </nav>

    <table>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Lote</th>
            <th>Local</th>
            <th>Quantidade</th>
            <th>Validade</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{produto.nome_do_produto}}</td>
            <td>{{produto.codigo_de_barras}}</td>
            <td>{{produto.lote}}</td>
            <td>{{produto.pratileira}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.dt_validade}}</td>
            <td><a href="editar/{{produto.codigo_de_barras}}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>    
    </form>
    

</body>
</html>

