{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/inicialstyle.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <script>
        var objTeste = {{ lista_produtos | safe}}
        console.log(objTeste[0][1])
    </script>
    <title>ESTOQUEFARMA +</title>
</head>
<body class="bd" onload="menuPrincipal()">
    <script src="{% static 'js/script.js' %}"></script>
    <div id="menu_principal" style="display: none"></div>

    <table>
        <tr>
            <th>Nome</th>
            <th>Código</th>
            <th>Lote</th>
            <th>Ativo</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{produto.nome_do_produto}}</td>
            <td>{{produto.codigo_de_barras}}</td>
            <td>{{produto.lote}}</td>
           {% if produto.ativo %}
               <td>Ativo</td>
            {% else %}
               <td>Inativo</td>
            {% endif %}
            <td><a href="editar/{{produto.codigo_de_barras}}">Editar</a></td>
            <td><a href="deletar_produto/{{ produto.codigo_de_barras }}">Deletar</a></td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>

