{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/inicialstyle.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <script>
        var csrftoken = '{{ csrf_token }}'
    </script>
    <title>ESTOQUEFARMA +</title>
</head>
<body class="bd">
    <script src="{% static 'js/script.js' %}"></script>
    <h1 class="top">ESTOQUEFARMA +</h1>
    <nav class="navbar">
        <button class="button" onclick="location.href='http://{{request.get_host}}/produto/inicio'" style="vertical-align:middle" ><span>Home </span></button>
        <button class="button" onclick="location.href='http://{{request.get_host}}/produto/cadastro'" style="vertical-align:middle" ><span> Cadastrar  </span></button>
        <button class="button" onclick="location.href='http://{{request.get_host}}/produto/alocar'" style="vertical-align:middle" ><span> Alocar</span></button>
        <button class="button" onclick="location.href='http://{{request.get_host}}/produto/desalocar'" style="vertical-align:middle" ><span> Desalocar</span></button>
        <button class="button" onclick="location.href='http://{{request.get_host}}/produto/consultar'" style="vertical-align:middle" ><span>Consultar</span></button>
    </nav>

{% for alocacao in estoque %}

    <form id="conteudo" action="http://{{request.get_host}}/produto/desalocar_produto" method="POST">

        {% csrf_token %}
        <input type="hidden" name='estoque_id' value='{{alocacao.id}}'>

        <div class="inputCadastro">

            <div class="inputCadastro"></div>
                <label>Nome:</label>
                <input type="text" name="nomeProduto" disabled value="{{alocacao.codigo_de_barras.nome_do_produto}}"/>
            </div>

            <div class="inputCadastro">
                <label>Codigo de Barras:</label>
                <input type="text" name="codBarra" value="{{alocacao.codigo_de_barras.codigo_de_barras}}" disabled/>
            </div>

            <div class="inputCadastro">
                <label>Local:</label>
                <input type="number" name="localEstoque" value="{{alocacao.pratileira}}"/>
            </div>

            <div class="inputCadastro">
                <label>Quantidade:</label>
                <input type="number" name="quantidadeEstoque" value="{{alocacao.quantidade}}"/>
            </div>

            <div class="inputCadastro">
                <label>Validade:</label>
                <input type="date" name="validadeEstoque" value="{{alocacao.dt_validade.isoformat}}"/>
            </div>

            <input type="submit" value="Desalocar">

        </div>
    </form>

{% endfor %}

<!-- <form action="" method="POST">
        
        </div>
        <div class="inputCadastro">
        <a href="inicial.html"><button type="button" >Alocar</button></a>
        </div> -->